<p-table
  #dt1
  [columns]="cols"
  [value]="products"
  [tableStyle]="{ 'min-width': '50rem' }"
  [loading]="loading"
  [scrollable]="true"
  scrollHeight="70vh"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search keyword"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th>Herramientas</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>

      <td>
        <button
          pButton
          pRipple
          (click)="showDialog(rowData)"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          style="margin-right: 30px"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Actualizar"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="container" *ngIf="information != null">
    <form [formGroup]="group" (ngSubmit)="onSumit(group.value)">
      <div style="width: 100%; display: flex; flex-direction: row">
        <div style="width: 50%; margin-right: 10px">
          <span>ID:</span>
          <input
            type="text"
            pInputText
            style="width: 100%"
            [required]="true"
            formControlName="id_cuestionario"
          />
        </div>
        <div style="width: 50%">
          <span>Semestre:</span>
          <input
            type="number"
            pInputText
            style="width: 100%"
            [required]="true"
            formControlName="fk_semestre"
          />
        </div>
      </div>
      <div style="width: 100%; display: flex; flex-direction: row">
        <div style="width: 50%; margin-right: 10px">
          <span>Nombre:</span>
          <input
            type="text"
            pInputText
            style="width: 100%"
            [required]="true"
            formControlName="nombre"
          />
        </div>
        <div style="width: 50%">
          <span>Puntaje:</span>
          <input
            type="number"
            pInputText
            style="width: 100%"
            [required]="true"
            formControlName="estandar_puntuacion"
          />
        </div>
      </div>
      <div
        style="
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          margin-top: 30px;
        "
      >
        <button
          pButton
          label="Continuar"
          style="
            border-radius: 30px;
            background-color: #7ab800;
            color: white;
            margin-right: 10px;
          "
          type="submit"
        ></button>
      </div>
    </form>
    <div style="width: 100%; margin-top: 20px" *ngIf="continuar != true">
      <p-accordion>
        <app-seccion-cuestionario
          [informacion]="i"
          *ngFor="let i of seccion"
        ></app-seccion-cuestionario>
      </p-accordion>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (click)="display = false"
      label="Cerrar"
    ></p-button>
  </ng-template>
</p-dialog>

<div
  style="
    width: 100vw;
    height: 90vh;
    position: relative;
    background-color: rgb(207, 207, 207);
    opacity: 0.4;
    margin-top: -90vh;
    margin-left: -300px;
    z-index: 1000000;
  "
  *ngIf="abrir != false"
>
  <div
    style="
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <i class="pi pi-spin pi-spinner" style="font-size: 4rem; color: blue"></i>
  </div>
</div>
