<mat-card>
    <mat-action-list>
      <div mat-subheader>Categorías disponibles</div>
      <button routerLink="/cuestionario/tables-cuestionarios" mat-list-item>
        <mat-icon mat-list-icon>quiz</mat-icon>Cuestionarios
      </button>
      <button routerLink="/cuestionario/tables-diagnosticos" mat-list-item>
        <mat-icon mat-list-icon>quiz</mat-icon>Diagnosticos
      </button>
      <button mat-list-item routerLink = "/usuario/perfil">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>
    </mat-action-list>
</mat-card>
  


<!-- <button [routerLink] = "'/cuestionario/'+c.categoriaId" mat-list-item *ngFor = "let c of categorias">
  <mat-icon mat-list-icon>account_circle</mat-icon> {{ c.nombre }}
</button> -->