<div *ngIf="!datos.length">
  <p>No se han realizado diagnosticos....</p>
</div>
<div *ngIf="datos.length">
  <h1>Resultados del diagnostico de roles:</h1>
  <p-table [value]="datos">
    <ng-template pTemplate="header">
      <tr>
        <th id="">Seccion</th>
        <th id="">Puntaje</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
      <tr>
        <td>{{ dato.nombreSeccion.seccion}}</td>
        <td>{{ dato.respuestaSeccionCuestionario.puntaje }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="mb-3">
  <!-- <p *ngIf="puntajeSecciones.length==0">
    Se estan cargando los puntajes de las secciones...
  </p> -->
  <div *ngIf="datosRol.length">
    <p>
      Resultados del diagnostico por seccion:
    </p>
    <p-table [value]="datosRol">
      <ng-template pTemplate="header">
        <tr>
          <th id="">Id</th>
          <th id="">Seccion</th>
          <th id="">Estandar Puntuacion</th>
          <th id="">Puntuacion Obtenida</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-puntajesSeccion>
        <tr>
          <td>
            {{ datosRol['diagnosticoRolIngeniero']}}
          </td>
          <!-- <td>{{ datosRol.seccionCuestionario.seccion }}</td>
          <td>{{ datosRol.seccionCuestionario.estandar_puntuacion }}</td>
          <td>{{ datosRol.puntaje }}</td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
