<div *ngIf="!datos.length">
  <p>No se han realizado diagnosticos....</p>
</div>
<p-table [value]="datos" *ngIf="datos.length">
  <ng-template pTemplate="header">
    <tr>
      <th id="">Id</th>
      <th id="">Diagnostico</th>
      <th id="">Rol Ingeniero</th>
      <th id="">Porcentaje similitud</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dato>
    <tr>
      <td>{{ dato.id_diagnostico_rol_ingeniero }}</td>
      <td>{{ dato.fk_diagnostico }}</td>
      <td>{{ dato.fk_rol_ingeniero }}</td>
      <td>{{ dato.porcentaje_similitud }} %</td>
    </tr>
  </ng-template>
</p-table>
